.list-item {
  list-style-type: none;
  font-weight: bold;
  display: inline;
}

.grid {
  text-align: center;
}

.title {
  text-decoration: underline;
}

.summary-container {
  text-align: justify;
  text-align-last: center;
}
