.container {
  background-color: #fafafa;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: box-shadow 0.5s;
}

.container:hover {
  box-shadow: 0.3rem 0.3rem 0.2rem #000;
}

.list-item {
  list-style-type: none;
  font-weight: bold;
  display: inline;
}

.grid {
  text-align: center;
}

.title {
  text-decoration: underline;
}

.summary-container {
  text-align: justify;
  text-align-last: center;
}
